body{
    font-family: 'Asap', sans-serif;
}
.red_color{
    color: red;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 50%;
    margin: 100px;
}
.half-width img{
    width: 80%;
    border-radius: 10px;
}
.display-flex{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, salmon);
    background-color: red;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.center{
    position: absolute;
    top: 32%;
    left: 60%;
    transform: translate(-5%, -5%);
    
}
.container{
    position: relative;
    text-align: center;
    
}
.center-two{
    position: absolute;
    transform: translate(-5%, -5%);
    left: 50%;
    bottom: 20%;
    padding: 100px 80px 10px;
   
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(red, salmon);
    background-color: red;
    padding: 10px 10px 10px;
    border-radius: 5px;
    font-weight: 700;
    position: absolute;
    left: 70%;
    bottom: 10%;
}